.red-border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.bg-grey{
    background-color: #121212;
}
.invert{
    filter: invert(1);
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 28px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333333; /* You can change this color according to your dark theme */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #666666; /* You can change this color according to your dark theme */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888888; /* You can change this color according to your dark theme */
  }
  .songinfo, .songtime{
    color: black;
    padding: 0 12px;
  }